/* here you can put your own css to customize and override the theme */
/*reset quick-sidebar-toggler*/
html, body {
	scrollbar-face-color: #00a99d; /*滚动条3D表面（ThreedFace）的颜色*/
	scrollbar-highlight-color: #00a99d; /*滚动条3D界面的亮边（ThreedHighlight）颜色*/
	scrollbar-shadow-color: #00a99d; /*滚动条3D界面的暗边（ThreedShadow）颜色*/
	scrollbar-3dlight-color: #00a99d; /*滚动条亮边框颜色*/
	scrollbar-arrow-color: #61e8d3; /*滚动条方向箭头的颜色 */
	scrollbar-track-color: #122a30; /*滚动条的拖动区域(TrackBar)颜色*/
	scrollbar-darkshadow-color: #122a30; /*滚动条暗边框（ThreedDarkShadow）颜色*/
}

a,a:hover,a:focus {text-decoration:none; outline: none;}
html,body { /*background:#02182f;cursor: url('../images/cursor_mouse.png'), auto;*/}
body {font-family:"FZLTHJW","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue", Helvetica, Arial, sans-serif;}
.page-gis.page-app{ background: url(../images/body-bg-app.png) repeat top center #02182f;}
ul{margin: 0;padding: 0;list-style: none;}
