/* here you can put your own css to customize and override the theme */
/*reset quick-sidebar-toggler*/
a,a:hover,a:focus {text-decoration:none; outline: none;}
html,body { background:#071B2E;cursor: url('../images/cursor_mouse.png'), auto;height:100%;}
.margin10 {margin:0 10px;}
.paddingRL20{padding:0px 10px 0 10px;}
::-webkit-scrollbar{
  display:none;
}
@font-face{font-family: "Helvetica Neue",Helvetica,tahoma,Arial,"PingFang SC","Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif, "微软雅黑", simsun, "宋体";
		   src:url("../fonts/PingFang.ttc") format('ttc');
		   src:url("../fonts/Microsoft Yahei.ttf") format('ttf')
}
body {
  font-family:"PingFang SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*table*/
.table-list { width: 100%;}
.table-list td { font-size: 0.25rem; color: #4d6075; padding:5px 10px 5px 0px; line-height:42px;}
.table-list tr:hover td { background-color: rgba(83,220,245,0.3); cursor:pointer;}
.table-list tr:hover .state{cursor:pointer;}
.table-list .time{font-size:0.18rem; color:#617589}

/*table-detail*/
.table-detail  { width: 100%;}
.table-detail th { font-size: 16px; color: #2183a7; padding: 2px 4px;}
.table-detail td {font-size: 16px; color: #2183a7; padding: 2px 4px; text-align: left;}
/*table-btnlist*/
.table-btnlist { width:100%}
.table-btnlist td { padding:4px; text-align: center;}
/*table-list-other*/
.table-list-other td { font-size:16px; line-height: 22px;}

.table_white td{padding:3px 0.3rem 3px 0.5rem;font-size:0.25rem} 
.table_white tr:hover ,.wlist_active{padding:3px 20px;background:rgba(104,164,239,0.7);color:#fff;} 





/*button*/
.btn-traffic {margin-top:5px;width:1.2rem;border-radius:5px;text-align:center; line-height:25px;font-size:0.18rem;}
.traffic-orange {color:#d7891d;border:2px solid #fbaf5d; }
.traffic-green {color:#27c536;border:2px solid #27c536; }
.traffic-red {color:#e94343;border:2px solid #ea6c87; }


.btn-genre {width:0.45rem;height:0.45rem;
    background-color: rgba(255,255,255,0.6);color:#5d83c1;border-radius:50%;border:2px solid #9cb3df}
  .btn-genre:focus {
    color: #58a1f4;
    background-color:rgba(11,39,60,0.05);
    border-color: #58a1f4; }
  .btn-genre:hover {
    color: #58a1f4;
    background-color: rgba(255,255,255,0.5);
    border-color:#58a1f4; }
  .btn-genre:active, .btn-genre.active {
    color: #5d83c1;
    background-color: rgba(11,39,60,0.05);
    border-color: none;}

.btn-alpha .socicon-btn.socicon-sm  {padding-top:6px;}

.btn-alpha .bg-blue {
	padding-top:5px;
	color:#d2e0fb;
	border:#d2e0fb 1px solid;
	}

.btn-alpha .bg-blue:hover{
	color:#fff;
	border-color:#ff;
	}

.popup-panel-footer .btn-default {margin-left:-10px;background:rgba(167,203,255,0.65) ;color:#4169b5;border:none ;
}

.popup-panel-footer .btn-default:hover{color:#fff;background:rgba(167,203,255,0.8) ;

}


/*enevt*/
.enevt-icon {font-size: 0;width:0.22rem;height:0.23rem; display:block}
.enevt-iconred { background: url(../images/event_iconred.png) no-repeat center; display:block}
.enevt-iconjq {background: url(../images/event_iconjq.png) no-repeat center; display:block}
.enevt-iconqy {background: url(../images/event_iconqy.png) no-repeat center; display:block}
.enevt-icontq {background: url(../images/event_icontq.png) no-repeat center; display:block}
.enevt-iconyj {background: url(../images/event_iconyj.png) no-repeat center; display:block}
.enevt-iconbk {background: url(../images/event_iconbk.png) no-repeat center; display:block}
.event_trigon {font-size: 0;width:34px;height:29px;background: url(../images/event_trigon.png) no-repeat center; display:block}

.air-quality.progress { background: transparent; margin:10px 0 0 0;}



.page-header.navbar .page-top { background:none;}
.page-quick-sidebar-wrapper  { }
.page-header.navbar {/*background: url(../images/bg-pattern.png) repeat #143246; border-bottom:solid 1px #000;*/ background-color: transparent;}
.page-quick-sidebar-wrapper .page-quick-sidebar { }
.jq-detail { background-color:#143246;}


/***
Timeline 
***/
.scroller-jq-timeline {  	
    position:absolute;
	top:0px;
	bottom:25px;
	width:auto;
	height:auto;
    overflow-x:hidden;
	overflow-y:auto;
}
.timeline.timeline-custom {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  margin-right:0px;
   }
  
  .timeline.timeline-custom .timeline-item {
    margin: 0;
    padding: 0 0 0 0; }
  .timeline.timeline-custom .timeline-badge-userpic {
    width: 40px;
    border: 4px #2183a7 solid;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; }
  .timeline.timeline-custom .timeline-badge-userpic img {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    vertical-align: middle !important; }
  .timeline.timeline-custom .timeline-body {
    position: relative;
    padding: 10px 18px 10px 20px;
    margin-top: 10px;
    background-color:rgba(2,69,125,0.3);
    border: #09b7e2 solid 1px; 
	box-shadow:0 0 33px 4px rgba(0,150,228,.6) inset;
	-webkit-mask: url(../images/list_mask.png) no-repeat right bottom;
	 }
    .timeline.timeline-custom .timeline-body:before, .timeline.timeline-custom .timeline-body:after {
      content: " ";
      display: table; }
    .timeline.timeline-custom .timeline-body:after {
      clear: both; }
  .timeline.timeline-custom .timeline-body-head {
    margin-bottom: 5px; }
  .timeline.timeline-custom .timeline-body-head-caption {
    float: left; width:100%;}
  .timeline.timeline-custom .timeline-body-title {
    font-size: 14px;
    font-weight: 600; /*color: #99a8b5; */color:#074a62; text-decoration: none;}
  .timeline.timeline-custom .timeline-body-alerttitle {
    font-size: 14px;
    font-weight: 600; color:#02a0ce; }
  .timeline.timeline-custom .timeline-body-time {
    font-size: 14px;
    margin-left: 10px; 
	padding:0 10px;
	color:#02a0ce;
	border:#086388 solid 1px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px; }
  .timeline.timeline-custom .timeline-body-head-actions {
    float: right; }
  .timeline.timeline-custom .timeline-body-head-actions .btn-group {
    margin-top: -2px; }
  .timeline.timeline-custom .timeline-body-content {
    font-size: 16px;
    margin-top: 20px; color:#00ccff;}
  .timeline.timeline-custom .timeline-body-img {
    width: 100px;
    height: 100px;
    margin: 5px 20px 0 0px; }
  .timeline.timeline-custom.white-bg:before {
    background: #fff; }
  .timeline.timeline-custom.white-bg .timeline-badge-userpic {
    border-color: #fff; }
  .timeline.timeline-custom.white-bg .timeline-icon {
    background-color: #fff; }
  .timeline.timeline-custom.white-bg .timeline-body {
    background-color: #fff; }
  .timeline.timeline-custom.white-bg .timeline-body-arrow {
    border-color: transparent #fff transparent transparent; }

  .timeline_arrow {width:100%;height:20px;}
  .timeline_arrow a {width:48.5%;height:20px;border:#036f9b solid 1px;border-radius:10px; display:block}
  .timeline_arrow a:hover {border:#019dd8 solid 1px;box-shadow:0 0 5px 4px rgba(0,150,228,.2) inset;}
  .timeline_arrow a .top {height:20px;width:100%;background:url(../images/arrowPage_top.png) no-repeat center 3px;display:block}
  .timeline_arrow a .bottom {height:20px;width:100%;background:url(../images/arrowPage_bottom.png) no-repeat center 3px;display:block}
   
  .bevel {
    position:absolute;bottom:0px;right:6.9px; 
    width:1px; 
    height:20px; 
    float:left; 
    transform:skew(-45deg,0deg); 
    -ms-transform:skew(-45deg,0deg); /* IE 9 */ 
    -moz-transform:skew(-45deg,0deg); /* Firefox */ 
    -webkit-transform:skew(-45deg,0deg); /* Safari and Chrome */ 
    -o-transform:skew(-45deg,0deg); /* Opera */ 
    overflow:hidden; 
    border-right: #09b7e2 solid 2px; 

	  
 }

/*linkage联动单位*/
.portlet-title.sidebar-title { width:auto; line-height:40px; font-size:1.3em;border-color: transparent; color: #14bdf1;margin:0 20px 10px 10px}
.linkage-btn .row { padding:5px 14px ;}
.linkage-btn .col-xs-2 { padding:0 10px;}
/*
.linkage-btn .col-xs-2 { padding:5px;}*/


/*button*/


.btn-custom {
  color: #2a90bc;
    background-color: rgba(11,39,60,0.05);
	box-shadow:0 0 6px 3px rgba(7,200,255,.4) inset ;
    border-color: #1b98cd;color:#2183a7;}
  .btn-custom:focus, .btn-info.focus {
    color: #2a90bc;
    background-color:rgba(11,39,60,0.05);
    border-color: #0475a2; 
	box-shadow:0 0 6px 3px rgba(7,200,255,.4) inset }
  .btn-custom:hover {
    color: #00b2ff;
    background-color: rgba(11,39,60,0.05);
    border-color:#058cc1;
	box-shadow:0 0 6px 3px rgba(7,200,255,.5) inset }
  .btn-custom:active, .btn-custom.active {
    color: #ffd323;
    background-color:rgba(11,39,60,0.2);
    border-color: #058cc1;
	box-shadow:0 0 6px 3px rgba(255,210,0,0.4) inset;
	border:1px rgba(222,174,7,.8) solid;}
.btn-custom .fa{color:#13293d; padding-top:2px; font-size:22px; float:right;}


/*实时信息*/
.infonow-body {height:300px;color:#6bc5ef;font-size:1.2em}

.infonow-title.sidebar-title { width:auto; line-height:35px; font-size:0.3rem;border-color: transparent; color: #5a718e;margin:10px 25px; /*background:url(../images/infonow_line.png) no-repeat right bottom*/}
.infonow_img{
	margin:0px auto 10px auto;
    background: #181919;
	border:#181919 solid 1px;
	display:block;
	padding:8px;
	text-align:center
	}

.title-name {background-color: #0b3757;border-radius:4px;padding:0 6px;text-align: center; color: #1bb2ed; float:left; font-size:22px;padding-top:3px; min-width:110px;}

/*control*/
.control-box { margin:0.11rem 0 0 0;}
.control {width:0.52rem; height: 0.38rem;font-size:0.19rem; line-height:0.38rem;margin-right:10px; display:block;float:right; text-align:center;overflow:hidden }
.control-auto  { background:rgba(57,109,183,0.6);}
.control-auto:hover,.active.control-auto  { background:rgba(15,70,162,0.8);}
.control .fa-tips {width:0.26rem;height:0.26rem;margin-top:0.06rem; background: url(../images/icon_tips.png) no-repeat center center;background-size:100%}


/*tooltip*/
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #246380; }
.tooltip-inner {
  max-width: 160px;
  padding: 3px 2px;
  color: #fff;
  text-align: center;
  background-color: #246380;
  border-radius: 4px; font-size:14px;
    opacity: 0.9;
    filter: alpha(opacity=90); }
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #246380; }
.linkage-btn .tooltip-inner {
  min-width:80px;
  padding: 3px 4px;
  color: #fff;
  text-align: center;
  background-color: #246380;
  border-radius: 4px; font-size:14px;
    opacity: 0.9;
    filter: alpha(opacity=90); }

/*reset socicon-btn*/

.list-scroll {
	position: absolute;
	height:auto;
	bottom: 20px;
	right:20px;
	left:10px;
/*	top: 70px;
*/  top: 20px;
    height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	}

#scroll-1 {
width:auto;
overflow-y:auto;
}
#scroll-1::-webkit-scrollbar {
width:10px;
height:10px;
}
#scroll-1::-webkit-scrollbar-button    {
background:rgba(65,76,113,0.0);
}
#scroll-1::-webkit-scrollbar-track     {
background:rgba(65,76,113,0.0);
}
#scroll-1::-webkit-scrollbar-track-piece {
background:rgba(65,76,113,0.0);
}
#scroll-1::-webkit-scrollbar-thumb{
background:rgba(65,76,113,0.0);
border-radius:4px;
box-shadow: 0 0 2px 3px rgba(0,150,228,.4) inset;
border:#0CF;
}
#scroll-1::-webkit-scrollbar-corner {
background:rgba(65,76,113,0.0);
}
#scroll-1::-webkit-scrollbar-resizer  {
background:rgba(65,76,113,0.0);
}





/*progress-bar*/
.air-quality.progress { background: transparent; margin-top: 2px;}
.air-quality.progress .progress-bar { font-size:10px; line-height:20px; padding-top:0;}
.progress-bar-green { background-color:#1d8872;}/*1d8872*/

.progress-bar-danger { background-color: #db5e40;}
.progress-bar-success { background-color: #15a45e;}
.progress-bar-warning { background-color: #9f782c; }
.progress-bar-info { background-color: #2183a7;}

.btn-custom-danger { background-color: #db5e40;}
.btn-custom-success { background-color: #15a45e;}
.btn-custom-warning { background-color: #9f782c; }
.btn-custom-info { background-color: #2183a7;}

.btn-toggle{background: #0f3048; border:solid 1px #071b2e; color:#4a9dd9;}

.btn-blue {
  color: #2a90bc;
  background-color: rgba(11,39,60,0.05);
	box-shadow:0 0 6px 3px rgba(7,200,255,.4) inset ;
    border-color: #0475a2;color:#2183a7; }
  .btn-blue:focus, .btn-blue.focus {
    color: #2a90bc;
    background-color:rgba(11,39,60,0.05);
    border-color: #0475a2; 
	box-shadow:0 0 6px 3px rgba(7,200,255,.4) inset }
  .btn-blue:hover {
    color: #00b2ff;
    background-color: rgba(11,39,60,0.05);
    border-color:#058cc1;
	box-shadow:0 0 6px 3px rgba(7,200,255,.5) inset }
  .btn-blue:active{
    color: #00b2ff;
    background-color:rgba(11,39,60,0.05);
    border-color: #058cc1;
	box-shadow:0 0 6px 3px rgba(7,200,255,.5) inset }



.btn-search {
    position: relative;
	width:1.25rem;
	height:0.6rem;
    padding: 0.1rem 0.12rem 0.1rem 0.1rem;
    margin-top: 0px;
    background-color:rgba(55,109,187,0.8);
	-webkit-mask: url(../images/list_mask.png) no-repeat right bottom;
	border-radius:0px;
	color:#fff;
	font-size:0.25rem;}
.btn-search:hover {
    background-color:rgba(25,104,203,0.9);
	-webkit-mask: url(../images/list_mask.png) no-repeat right bottom;
	color:#fff;}



/*message*/
.message-outbox{
    position: relative;
    padding: 20px;
    background-color:rgba(2,69,125,0.3);
    border: #09b7e2 solid 1px; 
	box-shadow:0 0 12px 4px rgba(0,150,228,.5) inset;
	-webkit-mask: url(../images/list_mask.png) no-repeat right bottom;
	width:100%;
	display:block; 
	
}
.message-box {/*position: absolute;top:20px; bottom:9px;width: auto; height: 60px;*/padding:0px;}
.input-fonts {background: rgba(255,255,255,0.9);border:none; color:#65778d; height:  0.6rem; width:260px;}
.input-sounds {background: rgba(1,86,147,0.9); border:none; color:#fff; height: 0.6rem; }
.input-sounds:hover {color:#f15132;}

.message-file{margin-top:10px;background:rgba(8,60,109,0.6);top: 50px;opacity:0.9;/* display: none;*/}
.message-box .row { margin:0 -8px;}
.message-box .col-xs-12 { padding:0 5px;}

/* 4-13 add animation*/
#sidebar-place-btn{width: 30px;height:30px;line-height: 30px;text-align: center;background-color: rgba(50,90,163,.8);position: absolute;right: -30px;top: 8px;border-radius: 0;color: #bbd7f6;}
.FR_arrow_off{width: 30px;height:30px;line-height: 30px;text-align: center;background-color: rgba(50,90,163,.8);position: absolute;left:-30px;top: 8px;border-radius: 0;color: #bbd7f6;padding: 0;}
.btn-alpha .active{color: #fff;background:rgba(15,70,162,0.8);}
.page-infonow .dropdown-menu{height: 5.6rem; overflow: auto;background-color: rgba(82,131,227,0.9);color: #cadcf2;margin-left: -10px;}
.page-infonow .dropdown-menu a{color:#cadcf2; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background: rgba(104,164,239,0.7);color: #fff;}
.gis-panel-btn{position: absolute;width: 100px;height: 48px;background-color: rgba(50,90,163,.8);z-index: 999;top: 13%;left: 46%;cursor: pointer;border-radius: 6px;line-height: 48px;text-align: center;color: #cadcf2;}

/*animation*/
.icon-animated {
    animation: 2s ease 1s normal none infinite running  ringing;
    display: inline-block;
    transform-origin: 50% 0 0;
}
@keyframes ringing {
0% {
    transform: rotate(-15deg);
}
2% {
    transform: rotate(15deg);
}
4% {
    transform: rotate(-18deg);
}
6% {
    transform: rotate(18deg);
}
8% {
    transform: rotate(-22deg);
}
10% {
    transform: rotate(22deg);
}
12% {
    transform: rotate(-18deg);
}
14% {
    transform: rotate(18deg);
}
16% {
    transform: rotate(-12deg);
}
18% {
    transform: rotate(12deg);
}
20% {
    transform: rotate(0deg);
}
}
@keyframes ringing {
0% {
    transform: rotate(-15deg);
}
2% {
    transform: rotate(15deg);
}
4% {
    transform: rotate(-18deg);
}
6% {
    transform: rotate(18deg);
}
8% {
    transform: rotate(-22deg);
}
10% {
    transform: rotate(22deg);
}
12% {
    transform: rotate(-18deg);
}
14% {
    transform: rotate(18deg);
}
16% {
    transform: rotate(-12deg);
}
18% {
    transform: rotate(12deg);
}
20% {
    transform: rotate(0deg);
}
}
@keyframes ringing {
0% {
    transform: rotate(-15deg);
}
2% {
    transform: rotate(15deg);
}
4% {
    transform: rotate(-18deg);
}
6% {
    transform: rotate(18deg);
}
8% {
    transform: rotate(-22deg);
}
10% {
    transform: rotate(22deg);
}
12% {
    transform: rotate(-18deg);
}
14% {
    transform: rotate(18deg);
}
16% {
    transform: rotate(-12deg);
}
18% {
    transform: rotate(12deg);
}
20% {
    transform: rotate(0deg);
}
}
.icon-animated-vertical {
    animation: 2s ease 2s normal none 5 running vertical;
    display: inline-block;
}
@keyframes vertical {
0% {
    transform: translate(0px, -3px);
}
4% {
    transform: translate(0px, 3px);
}
8% {
    transform: translate(0px, -3px);
}
12% {
    transform: translate(0px, 3px);
}
16% {
    transform: translate(0px, -3px);
}
20% {
    transform: translate(0px, 3px);
}
22% {
    transform: translate(0px, 0px);
}
}
@keyframes vertical {
0% {
    transform: translate(0px, -3px);
}
4% {
    transform: translate(0px, 3px);
}
8% {
    transform: translate(0px, -3px);
}
12% {
    transform: translate(0px, 3px);
}
16% {
    transform: translate(0px, -3px);
}
20% {
    transform: translate(0px, 3px);
}
22% {
    transform: translate(0px, 0px);
}
}
@keyframes vertical {
0% {
    transform: translate(0px, -3px);
}
4% {
    transform: translate(0px, 3px);
}
8% {
    transform: translate(0px, -3px);
}
12% {
    transform: translate(0px, 3px);
}
16% {
    transform: translate(0px, -3px);
}
20% {
    transform: translate(0px, 3px);
}
22% {
    transform: translate(0px, 0px);
}
}

.opacity-0 { opacity: 1;}
.opacity-1 { opacity: 0.3;}
.opacity-1:hover { opacity: 1;}

/*gis-tool*/
.gis-tool {
  position: absolute;
  top: 30px;
  right: 50px;
  bottom: 0;
  width: 40px;
  height: 40px;
	z-index: 99999;
}

.gis-tool .item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
	font-size: 18px;
	color: #fff;
	opacity: 0.8;
}
.gis-tool .item:last-child { opacity:1;}