@charset "UTF-8";
/* Cubic Bezier Transition */
html {font-size: 625%; /*100 ÷ 16 × 100% = 625%*/}

/* 超小屏幕（手机，大于等于 432px） */
@media (max-width:479px) { 
    html { font-size: 325%; }
}
/* 超小屏幕（手机，大于等于 432px） */
@media (min-width:479px) { 
    html { font-size: 325%; }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width:768px) { 
  html {font-size: 325%;}
 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width:992px) {
  html {font-size: 325%;}
 }

/* 大屏幕（大桌面显示器，大于等于 1024px） */
@media (min-width:1024px) {
  html {font-size: 325%;}
 }
 
/* 大屏幕（大桌面显示器，大于等于 1280px） */
@media (max-width:1280px) {
  html {font-size: 325%;}
 }
 
/* 大屏幕（大桌面显示器，大于等于 1366px） */
@media (min-width:1366px) {
  html {font-size: 350%;}
 }
 
/* 大屏幕（大桌面显示器，大于等于 1440px） */
@media (min-width:1440px) {
  html {font-size: 360%;}
 }
 
/* 大屏幕（大桌面显示器，大于等于 1680px） */
@media (min-width:1680px) {
  html {font-size: 430%;}
 }
 
/* 大屏幕（大桌面显示器，大于等于 1920px） */
@media (min-width:1920px) {
  html {font-size: 500%;}
 }
 

/***Page Border 0707***/
.page-container-bg-solid .page-content {height:100%; position:relative;}


.page-header-inner {top:0px;z-index:500;left:50%; position:relative;float:left;}
.header-width {width: 35rem;color: #30a2cf;position:relative;left:-50%;float:left}

.logo-gradient {
	font-size: 0.7rem;
    margin-top:15px;
	color: #ebeeef;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(239, 239, 239, 1)), to(rgba(170, 222, 333, 1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.logobg {
	float: left;
	width: 13.5rem;
	height: 1.19rem;
	text-align:center;
	background: url(../images/logo_bg.png) no-repeat top center;
	background-size:100% auto;
    -moz-background-size:100% auto;
    -webkit-background-size:100% auto;
    -o-background-size:100% auto;
	overflow:hidden;
	
	opacity: 0.9;
}
.header_timebgL,.header_timebgR {font-size:1.5em;line-height:0.5rem; text-align:center;width:10.5rem;height:0.4rem;}
.header_timebgL {margin:0px -16px 0 0;background:url(../images/header_timebgL.png) no-repeat right top;font-family:"accid";}
.header_timebgR {margin:0px 0 0 -16px;background:url(../images/header_timebgR.png) no-repeat left top;font-family:"accid";}

.page-sidebar-place {
	position: absolute;
	bottom: 5.1rem;
	top: 1rem;
	margin: 0 0 0 0.6rem;
	padding: 0px;
	width: 7.5rem;
	z-index:555;
}
.page-sidebartitle {padding:0.1rem 20px;width:auto;height:0.8rem;background:rgba(77,138,215,0.9);font-size:0.3rem;font-weight:normal;color:#fff;
	box-shadow:0px 0px 9px #7b94c3;border-radius:5px; line-height:0.63rem;}

.page-sidebar-place-bgrepeat {
	position: absolute;
	bottom: 0;
	top: 0.95rem;
	padding: 0.02rem;
	width:100%;
	border-radius:5px; 
	height: auto;
	overflow: hidden;
	background:rgba(255,255,255,0.85);/* url('../images/FL_listbg01.png') no-repeat 0 top,  url('../images/FL_listbg02.png') no-repeat 0 bottom;*/;
	box-shadow:0px 0px 9px #9ca6be;
}


.arrow-box {font-size:18px;}

.page-gis { position:absolute;left:0px;right:0px;top:0px;bottom:0px;height:100%;background: url(../images/gis.png) repeat top center #051526;z-index:1}
.page-FLtitle{padding:0.1rem 0.3rem;width:auto;height:0.8rem;background:rgba(77,138,215,0.9);font-size:0.3rem;font-weight:normal;color:#fff;
	box-shadow:0px 0px 9px #7b94c3;border-radius:0px; line-height:0.63rem;/*-webkit-mask: url(../images/list_mask.png) no-repeat right bottom;*/} 

.page-whitebox{margin:10px 0;padding:0px;width:auto;height:auto;background:rgba(255,255,255,0.85);font-size:16px;font-weight:normal;color:#737d87;box-shadow:0px 0px 9px #95aec0;border-radius:0px; line-height:40px;} 
.page-bluebox{margin:10px 0;padding:0px;width:auto;height:auto;background:rgba(82,131,227,0.9);font-size:16px;font-weight:normal;color:#cadcf2;box-shadow:0px 0px 9px #95aec0;border-radius:0px; line-height:40px;} 


.page-gissmallbox {
	position: absolute;
	bottom: 25px;
	margin: 0 0 0 0.6rem;
	width: 7.5rem;
	height: 4.5rem;
	padding: 0px;
	background:rgba(187,223,249,0.9);border-radius:5px;box-shadow:0px 0px 8px #69C;
}
.arrowBoxYellow {
	position: relative;
}
.arrowBoxYellow_Top {
	position: relative;
}
.arrowBoxYellow_Bottom {
	position: relative;
}
.arrowBoxYellow span {
	display: block;
}
.arrow_TL {
	float: left;
	margin: -1px;
	width: 0px;
	height: 0;
	border-width: 5px 5px;
	border-style: solid;
	border-color: #ffc71a transparent transparent #ffc71a;
}
.arrow_TR {
	float: right;
	margin: -1px -2px -1px -1px;
	width: 0;
	height: 0;
	border-width: 5px 5px;
	border-style: solid;
	border-color: #ffc71a #ffc71a transparent transparent;
}
.arrow_BL {
	float: left;
	margin: 350px 0 0 -9px;
	width: 0;
	height: 0;
	border-width: 5px 5px;
	border-style: solid;
	border-color: transparent transparent #ffc71a #ffc71a;
}
.arrow_BR {
	float: right;
	margin: 350px -10px 0 0px;
	width: 0;
	height: 0;
	border-width: 5px 5px;
	border-style: solid;
	border-color: transparent #ffc71a #ffc71a transparent;
}
.gis_small_decorate {
	float: right;
	margin: 0px -30px 0 0;
	width: 17px;
	height: 360px;
	background: url(../images/gis_small_decorate.png) no-repeat left top
}
/* Quick sidebar wrapper */
.page-quick-sidebar-wrapper {
	position: fixed;
	top: 1rem;
	bottom: 0;
	width: 7.5rem;
	right: 0.6rem;
	color: #99a8b5;
	background: none;
	z-index: 9996;
}
.page-linkagebox {
	position:absolute;
	bottom:350px;
	margin: 0 0 0 0px;
	width: 100%;
	height: auto;
	padding: 0px;
	border: #144769 solid 1px;
	background-color: rgba(2,69,125,0.3);
	border: #00aeef solid 1px;
	box-shadow: 0 0 33px 4px rgba(0,150,228,.5) inset;
	-webkit-border-radius: 5px 5px 5px 0;
	-moz-border-radius: 5px 5px 5px 0;
	-ms-border-radius: 5px 5px 5px 0;
	-o-border-radius: 5px 5px 5px 0;
	border-radius: 5px 5px 0 5px;
}
.page-linkage {
	width: auto;
	height: 30px;

}

.page-infonow {
	position:absolute;
	bottom:25px;
	margin:12px 0 0 0;
	width:100%;
	height:360px;
	padding:0px;
	background:rgba(187,223,249,0.9);border-radius:5px;box-shadow:0px 0px 8px #69C;
	}
.timeline_arrow {position:absolute;
	bottom:0;
	width:100%;
	padding:0px 20px 25px 20px;
	overflow:hidden;
	}
.page-FRscroll {
	position:absolute;
	top:0.75rem;
	bottom:395px;
	width:100%;
	padding:0px;
    overflow-x:hidden;
	overflow-y:auto;
	}
	
.page-timeline-bgrepeat{
	position: absolute;
	bottom: 0;
	top: 0;
	width: 600px;
	height: auto;
	overflow: hidden;
}
	
.searchBox {}



	

/*GIS 底部浮动窗口*/
.popup_bottom {
    position:absolute;
	bottom:-1px;
	z-index:500;
	margin:0 auto;
	left:50%;}
.popup_bottom_arrowUp {margin:10px auto;width:1rem;height:1rem; background: url(../images/arrow_popupUp.png) no-repeat center center;background-size:100%; display:block}
.popup_bottom_arrowUp:hover {background: url(../images/arrow_popupUp_hover.png) no-repeat center center;background-size:100%;}

.popup_bottom_inner {width:1204px;height:auto;margin-bottom:-62px;}	

.popup_bottom_header {margin:-3px;padding:5px 0px; text-align:center;background:url(../images/border_square.png) no-repeat left top,url(../images/border_square.png) no-repeat right top;border-bottom:#40485e solid 1px}

.popup_bottom_header span {width:auto;padding:0px 45px; height:36px; line-height:38px;margin:0 auto 0 auto;font-size:18px;color:#8cc1ee; text-align:center;background: url(../images/title_arrowL.png) no-repeat left center,url(../images/title_arrowR.png) no-repeat right center;}

.popup_bottom_body {height:220px;margin:-3px -3px -3px -3px;padding:20px; text-align:center;background:url(../images/border_line.png) no-repeat right center,url(../images/border_square.png) no-repeat left top,url(../images/border_square.png) no-repeat left bottom,url(../images/border_square.png) no-repeat right bottom,url(../images/border_square.png) no-repeat right top; overflow:hidden;}


.nav_btn_button {
	color:#fff;
	font-size:0.3rem;
	width:0.9rem;
	height:0.9rem;
    margin-right: 12px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 50%;
	background:rgba(70,75,87,0.85);
	box-shadow: 0 0 4px 1px rgba(74,74,74,.3);
}
.nav_btn_button:hover,.nav_btn .active{	
	color:#fff;
	font-size:0.3rem;
	width:0.9rem;
	height:0.9rem;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 50%;
	background:rgba(79,119,233,0.85)
}




/*GIS 浮动窗口*/
.popup_event {
    position:absolute;
	z-index:500;
	top:150px;
	left:50%;
 	-ms-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0); 

}

.panel_blue {border:none;background:none}
.panel_blue > .panel-heading {
	width:100%;
	height:38px;
    color:#fff;
    font-size:22px;
    border:none;
    background:none;
    padding:0 0px 0 35px;
    background-position:0 0;
    background:url(../images/gispopup_bgtop01.png) no-repeat left top;

}
.popuo_event_close { position:absolute;right:0px;margin:40px -20px 0 0 ;padding:3px 0 0px 7px;width:25px;height:25px;background:rgba(50,90,163,.8);color:#bbd7f6;}
.popuo_event_close a{color:#bbd7f6;}
.popuo_event_close a:hover{color:#fff;}


.FR_arrow_off { position:absolute;left:-32px;padding:6px 0 0px 10px;width:30px;height:30px;background:rgba(50,90,163,.8);color:#bbd7f6;}
.FR_arrow_off a{color:#bbd7f6;}
.FR_arrow_off a:hover{color:#fff;}
.FR_arrow_on { position:absolute;left:-35px;margin:12px 0 0 0 ;padding:4px 0 0px 10px;width:30px;height:30px;background:rgba(50,90,163,.8);color:#bbd7f6;}
.FR_arrow_on a{color:#bbd7f6;}
.FR_arrow_on a:hover{color:#fff;}


.panel-headingLbg {
	height:30px;
	padding:25px 50px 20px 18px;
    background:url(../images/gispopup_bgtop02.png) no-repeat right top;
	overflow:hidden;
	white-space:nowrap ;
	}

.panel-headingRbg {
	height:30px;
    background:url(../images/gispopup_bgtop03.png) repeat-x right top;
	overflow:hidden
	}
.arrow_border {margin-top:-10px;width:10px;height:10px;border-left:2px solid #b8ccf3;border-top:2px solid #b8ccf3; z-index:333; position:relative}

.panel_blue > .panel-body {padding:0px;margin:-8px 0px 0 0;height:100%;background:url(../images/gispopup_bgtop04.png) repeat-y left top,url(../images/gispopup_bgtop06.png) repeat-y right top;}
.panel-bodyLbg{ 
    float:left;
    width:8px;
	height:100%;
    background:url(../images/gispopup_bgtop04.png) repeat-y left top;

}
.panel-bodyRbg{ 
    float:right;
    width:8px;
	height:100%;
    background:url(../images/gispopup_bgtop06.png) repeat-y left top;

}
.panel-body-inner{
	color:#fff;
	padding:30px 30px 0px 30px;
	margin:0 15px 0px 15px;
	background:rgba(82,131,227,0.85);
}
	
.panel-bottomLbg {
	float:left;
	width:34px;
	height:30px;
    background:url(../images/gispopup_bgtop07.png) no-repeat left top;
	}
.panel-bottomCbg {
	margin:0 15px 0 34px;
	height:30px;
    background:url(../images/gispopup_bgtop08.png) repeat-x left top;
	}


.panel-bottomRbg {
	float:right;
	width:15px;
	height:30px;
    background:url(../images/gispopup_bgtop09.png) no-repeat right top;
	}
.panel-footer {padding:10px 15px 0px 15px}
.table-blue { border-spacing:6px; border-collapse:separate}	
.table-blue tr {background:rgba(65,105,181,0.9)}	
.table-blue th,.table-blue td {padding:6px 15px;font-size:1em}	


	

/* Allow expanded search for above 768px */
@media (max-width: 991px) {
/* 991px */
}
 @media (max-width: 767px) {
/* 768px */
.header-width {
	width: auto;
}
.logo-gradient {
	font-size: 1.8em;
}
.logobg {
	padding: 0px;
	position: absolute;
	top: -12px;
	left: -12px;
	right: -12px;
	height: 60px;
	width: auto;
	background: #051e38;
	line-height: 60px;
	z-index: 33
}


.page-sidebartitle .active{
	background: rgba(15,70,162,0.8);
}

 