.jimu-widget-doubleMap {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}

.jimu-widget-doubleMap .mapContainer {
  height: 100%;
}

.jimu-widget-doubleMap .leftBaseMap {
  right: 20px;
  top: 10px;
  position: absolute;
  z-index: 999;
}

.jimu-widget-doubleMap .rightBaseMap {
  left: 20px;
  top: 10px;
  position: absolute;
  z-index: 999;
}