.MapText {
  min-width: 30px;
  max-width: 260px;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  color: #fff;
  padding: 8px 15px 8px 15px;
  line-height: 18px;
  font-size: 14px;
  pointer-events: none;
  z-index: 999;
}
.exceptDiv {
  position: absolute;
  z-index: 999;
  width: 115px;
  height: 62px;
  padding: 34px 0px 0px 32px;
  color:white;
  font-size: 14px;
  background-image: url(../images/img_ycyy.png);
}
.TextDiv {
  /*border:1.5px solid #2098A5;
    background: #02243F;*/
  border: 1.5px solid #666666;
  background: #666666;
}

.TextTriTop {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  /*background: #02243F;*/
  /*border:1.5px solid #2098A5;*/
  border: 1.5px solid #666666;
  background: #666666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
  -o-transform: rotate(45deg); /* Opera */

  border-left: none;
  border-top: none;
  margin: auto;
  margin-top: 4px;
  left: 0;
  right: 0;
}
.TextTriRight {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  background: #02243f;
  border: 1.5px solid #2098a5;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
  -o-transform: rotate(45deg); /* Opera */

  border-right: none;
  border-top: none;
  margin: auto;
  margin-left: -21px;
  top: 0;
  bottom: 0;
}


@keyframes warn {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.0;
  }

  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }

  75% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

@keyframes warn1 {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.0;
  }

  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.5);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }

  75% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.0;
  }
}

.carContainer {
  position: absolute;
  width:auto;
  height:auto;
  left: 0px;
  top: 0px;
}
/* 保持大小不变的小圆点 */
.dot {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 28px;
  top: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #ff0c0e;
  border-radius: 50%;
  background-color:#ff0c0e; /* 实心圆 ，如果没有这个就是一个小圆圈 */
  z-index: 2;
}
/* 产生动画（向外扩散变大）的圆圈 第一个圆 */
.pulse {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 0px;
  border: 1px solid #ff0c0e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  -webkit-animation: warn 2s ease-out;
  -moz-animation: warn 2s ease-out;
  animation: warn 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  box-shadow: 1px 1px 30px #ff0c0e; /* 阴影效果 */
}
/* 产生动画（向外扩散变大）的圆圈 第二个圆 */
.pulse1 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 0px;
  border: 1px solid #ff0c0e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  -webkit-animation: warn1 2s ease-out;
  -moz-animation: warn1 2s ease-out;
  animation: warn1 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  box-shadow: 1px 1px 30px #ff0c0e; /* 阴影效果 */
}
.car{
  position: absolute;
  left: 15px;
  top: 25px;
  width:48px;
  height: 23px;
  z-index:2;
}
