.jimu-widget-BottomToolbarCircleButton {
  position: relative;
  left: -50%;
}

.jimu-widget-BottomToolbarCircleButton .popup_bottom_arrowUp {
  margin: 10px auto;
  width: 1rem;
  height: 1rem;
  background: url(images/arrow_popupUp.png) no-repeat center center;
  background-size: 100%;
  display: block;
}

.jimu-widget-BottomToolbarCircleButton .popup_bottom_arrowUp:hover {
  background: url(images/arrow_popupUp_hover.png) no-repeat center center;
  background-size: 100%;
}

.jimu-widget-BottomToolbarCircleButton .opacity-0 {
  opacity: 1;
}
.jimu-widget-BottomToolbarCircleButton .opacity-1 {
  opacity: 0.3;
}
.jimu-widget-BottomToolbarCircleButton .opacity-1:hover {
  opacity: 1;
}

.jimu-widget-BottomToolbarCircleButton .popup_bottom_inner {
  width: auto;
  height: auto;
  margin-bottom: -85px;
}

.jimu-widget-BottomToolbarCircleButton .nav_btn_button {
  color: #fff;
  font-size: 0.3rem;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 12px;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 50%;
  background: rgba(70, 75, 87, 0.85);
  box-shadow: 0 0 4px 1px rgba(74, 74, 74, 0.3);
}

.jimu-widget-BottomToolbarCircleButton .nav_btn_button:hover,
.jimu-widget-BottomToolbarCircleButton .nav_btn .active {
  color: #fff;
  font-size: 0.3rem;
  width: 0.9rem;
  height: 0.9rem;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 50%;
  background: rgba(79, 119, 233, 0.85);
}

.jimu-widget-BottomToolbarCircleButton .icon_qbb {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_qbb.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}

.jimu-widget-BottomToolbarCircleButton .icon_fbd {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_fbd.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}

.jimu-widget-BottomToolbarCircleButton .icon_parking {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_parking.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}

.jimu-widget-BottomToolbarCircleButton .icon_qbb_parking {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_tcyd.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}


.jimu-widget-BottomToolbarCircleButton .icon_AnXian {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_AnXian.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}

.jimu-widget-BottomToolbarCircleButton .icon_HangDao {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_HangDao.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}

.jimu-widget-BottomToolbarCircleButton .icon_MaoDi {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_MaoDi.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}

.jimu-widget-BottomToolbarCircleButton .icon_MaTou {
  width: 0.35rem;
  height: 0.36rem;
  margin-bottom: -0.08rem;
  background: url(images/icon_MaTou.svg) no-repeat center center;
  background-size: 100%;
  display: inline-block;
}